@import url(./tokens.css);
@import url(./components/badge.css);
@import url(./components/button.css);
@import url(./components/list.css);
@import url(./components/input.css);
@import url(./components/link.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-color-default);
  background-color: var(--surface-page);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700;
  color: var(--text-color-heading);
  line-height: 1.2;
  margin: 0 0 1.2rem;
}

h1 {
  font-size: clamp(3.2rem, 2vw + 1rem, 5.6rem);
}
h2 {
  font-size: clamp(2.4rem, 1.5vw + 1rem, 4rem);
}
h3 {
  font-size: clamp(2rem, 1vw + 1rem, 3rem);
  font-weight: 600;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}

p {
  margin: 0 0 1.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

::selection {
  background-color: var(--text-color-selection);
  color: var(--text-color-light);
}

/* IMAGES */
img {
  max-width: 100%;
  display: block;
}

/* BUTTON RESET */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: middle;
}

.icon--primary {
  fill: var(--icon-primary);
}

.icon--secondary {
  fill: var(--icon-secondary);
}

.icon--accent {
  fill: var(--icon-accent);
}

.icon--md {
  width: 2rem;
  height: 2rem;
}

.icon--lg {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--xl {
  width: 3.2rem;
  height: 3.2rem;
}
