<!-- Primary SVG -->
<svg class="icon icon--primary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#ATEC-DM-Logo"></use>
</svg>

<svg class="icon icon--primary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#accelerated-decision"></use>
</svg>

<svg class="icon icon--primary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#approved-badge"></use>
</svg>

<!-- Secondary SVG -->
<svg class="icon icon--secondary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#chevron"></use>
</svg>

<svg class="icon icon--secondary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#collaboration"></use>
</svg>

<svg class="icon icon--secondary" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#cross-domain"></use>
</svg>

<!-- Accent SVG -->
<svg class="icon icon--accent" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#data-as-product"></use>
</svg>

<svg class="icon icon--accent" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#home"></use>
</svg>

<svg class="icon icon--accent" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#innovation"></use>
</svg>

<!-- Defualt -->
<svg class="icon" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#line"></use>
</svg>

<svg class="icon" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#link-arrow"></use>
</svg>

<svg class="icon" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#lock-nodes"></use>
</svg>

<!-- Primary md, lg, xl -->
<svg class="icon icon--primary icon--md" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#menu"></use>
</svg>

<svg class="icon icon--primary icon--lg" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#quote"></use>
</svg>

<svg class="icon icon--primary icon--xl" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#search"></use>
</svg>
<!-- Defualt -->
<svg class="icon" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#shield-lock"></use>
</svg>

<svg class="icon" aria-hidden="true">
  <use href="/assets/icons/sprite.svg#star"></use>
</svg>
