<div class="media">
  <img class="media__img" src="./assets/images/img-placeholder.webp" alt="An image used as a placeholder" loading="lazy" decoding="async" />
  <div class="media__body">
    <h3 class="media__title">Lorem, ipsum dolor.</h3>
    <p class="media__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quos enim maiores veritatis recusandae, reiciendis repellat dolores libero sapiente tempora.</p>
    <p class="media__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate repellat eaque dicta natus pariatur, nesciunt debitis deserunt autem modi minus!</p>
  </div>
</div>
